{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="{% static '../static/css/pago.css' %}">

</head>
<body>

<div class="container">

    <form action="index.html">

        <div class="row">

            <div class="col">

                <h3 class="title">Dirrecion
                </h3>

                <div class="inputBox">
                    <label for="nombre">Nombre Completo :</label>
                    <input type="text" id="idname"placeholder="Benjamin Contreras">
                </div>
                <div class="inputBox">
                    <label for="correo" >Email :</label>
                    <input type="correo" id="idcorreo" placeholder="benja@gmail.com" >
                </div>
                <div class="inputBox">
                    <label for="direccion">Dirrecion :</label>
                    <input type="text" id="iddireccion" placeholder="Calle - Numero " >
                </div>
                <div class="inputBox">
                    <label for="ciudad">Ciudad :</label>
                    <input type="text" id="idciudad" placeholder="Lota" >
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <label for="pais">Pais :</label>
                        <input type="text" id="idpais" placeholder="Chile" >
                    </div>
                    <div class="inputBox">
                        <label for="codigopostal">Codigo Postal :</label>
                        <input type="text" id="idcodigopostal" placeholder="4210000" >
                    </div>
                </div>

            </div>

            <div class="col">

                <h3 class="title">Pago</h3>

                <div class="inputBox">
                    <span>Tarjetas Aceptadas :</span>
                    <img src={% static "../static/images/card_img.png" %} alt="">
                </div>
                <div class="inputBox">
                    <label for ="nombres">Nombre Del Titular :</label>
                    <input type="text" id="idnombre"placeholder="Benjamin Contreras">
                </div>
                <div class="inputBox">
                    <label for="numerofrontal">Numeros Frontales :</label>
                    <input type="number" id="idnfrontal"placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <label for ="mesvencimiento">Mes De Vencimiento :</label>
                    <input type="text" id="idmv" placeholder="Junio">
                </div>
                <div class="flex">
                    <div class="inputBox">
                        <label for="año">Año  :</label>
                        <input type="number" id="idaño"placeholder="2024">
                    </div>
                    <div class="inputBox">
                        <label for="cvv">CVV :</label>
                        <input type="text" id="idcvv"placeholder="123">
                    </div>
                </div>

            </div>
    
        </div>

        <input type="submit" onclick = 'return enviarformpago();' value="Pagar">
        <p class="warnings" id="warnings"></p>

    </form>
    <div id = 'error'></div>

</div>    
    <script src={% static "../static/js/validaredit.js"%}></script>
</body>
</html>