{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href={% static "../static/css/pedidos.css"%}>
</head>
<body>
    <header class="header">
            <input type="checkbox" id="menu">
                    <li><a href={% url "index" %}>Inicio</a></li>
            </nav>
            
            
        </div>
    </header>
    <div class="container">
        <div class="details">
            <div class="order">
                <h1>Pedido <span>1222123432</span></h1>
            </div>
            <div class="date">
                <p>Fecha Estimada De Entrega 21/05/2024</p>
                <p>Chileexpress <b>125362784567382</b></p>
            </div>
        </div>
        <div class="track">
            <ul id="progress" class="text-center">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
            </ul>
            
        </div>
        <div class="lists">
            <div class="list">
                <img src={% static "../static/images/e1.png"%} alt="">
                <p>Orden <br>Procesando</p>
            </div>
            <div class="list">
                <img src={% static "../static/images/e2.png"%} alt="">
                <p>Orden <br>Enviado</p>
            </div>
            <div class="list">
                <img src={% static "../static/images/e3.png"%}alt="">
                <p>Orden <br>En Ruta</p>
            </div>            <div class="list">
                <img src={% static "../static/images/e4.png"%} alt="">
                <p>Orden <br>Entregado</p>
            </div>
        </div>
    </div>
</body>
</html>