{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '../static/css/productos.css' %}">
    <script src="{% static '../static/js/app.js'%}" async></script>
    <title>Carro</title>
</head>
<body>
    <header class="header">
        
        <div class="menu contt">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src={% static "../static/images/menu.png"%} class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
            <input type="checkbox" id="menu">
                <ul>
                    <li><a href={% url "index" %}>Inicio</a></li>
                    <li><a href={% url "productos" %}>Productos</a></li>
                    <li><a href={% url "contacto" %}>Contacto</a></li>
                    <li><a href={% url "login" %}><img src={% static "../static/images/klipartz.com.png"%} alt=""></a></li>
                </ul>
            </nav>
            
            
        </div>
        <h1>Productos</h1>
    </header>
    <section class="contenedor">

        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Carcasa IPhone</span>
                <img src={% static "../static/images/a1.png"%} alt="" class="img-item">
                <span class="precio-item">$5.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Cargador</span>
                <img src= {% static "../static/images/a2.png"%} alt="" class="img-item">
                <span class="precio-item">$10.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Cable Usb C</span>
                <img src={% static "../static/images/a3.png"%} alt="" class="img-item">
                <span class="precio-item">$3.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Apple Pencil</span>
                <img src={% static "../static/images/a4.png"%} alt="" class="img-item">
                <span class="precio-item">$156.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Mouse</span>
                <img src={% static "../static/images/a5.png"%} alt="" class="img-item">
                <span class="precio-item">$30.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">MagSafe</span>
                <img src={% static "../static/images/a7.png"%} alt="" class="img-item">
                <span class="precio-item">$80.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Funda Airtag</span>
                <img src={% static "../static/images/a8.png"%} alt="" class="img-item">
                <span class="precio-item">$4.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Adaptador C</span>
                <img src={% static "../static/images/a9.png"%} alt="" class="img-item">
                <span class="precio-item">$7.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>

        </div>
        
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
                <!-- 
                <div class="carrito-item">
                    <img src="img/boxengasse.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Box Engasse</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$15.000,00</span>
                    </div>
                   <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </span>
                </div>
                <div class="carrito-item">
                    <img src="img/skinglam.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Skin Glam</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="3" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$18.000,00</span>
                    </div>
                   <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </button>
                </div>
                 -->
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar"><a href={% url "comprar" %}>Pagar <i class="fa-solid fa-bag-shopping"></i></a></button>
            </div>
        </div>
    </section>
</body>
</html>