{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuarios</title>
    <link rel="stylesheet" href={% static "../static/css/dashboard.css" %}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a href={% url "dashboard" %}>
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href={% url "estadisticas" %}>
                    <i class="fas fa-chart-bar"></i>
                    <span>Estadisticas</span>
                </a>
            </li>


            <li>
                <a href={% url "nuevosproductos" %}>
                    <i class="fas fa-star"></i>
                    <span>Productos</span>
                </a>
            </li>
            <li>
                <a href={% url "catalogo" %}>
                <i class="fas fa-barcode"></i>
                <span>Catalogo</span>
            </a>
        </li>
            <li>
            </li>
            <li class="logout">
                <a href={% url "index" %}>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar sesion</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <h2> Dashboard</h2>
            </div>
            <div class="user--info">
                <div class="searh--box">
                    <i class="fa-solid fa-search"></i>
                    <input type="text" placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="tabular--wrapper">
            <h3 class="main--title">Usuarios registrados</h3>
            <div class="table-container">
                <table>
                    <thead>
                            <tr>
                                <th>Fecha creacion</th>
                                <th>Nombre apellido</th>
                                <th>Direccion</th>
                                <th>Numero de telefono</th>
                                <th>Correo</th>
                                <th>Tipo usuario</th>
                                <th>Accion</th>
                            </tr>

                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                2024-04-08
                            </td>
                            <td>John Doe</td>
                            <td>Janequeo 1042-1092, Concepción, Bío Bío</td>
                            <td>+56975458324</td>
                            <td>john.doe@gmail.com</td>
                            <td>Cliente</td>
                            <td><a href={% url "editarcliente" %}>Editar</a></td>

                        </tr>
                    </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    </div>

</body>

</html>