@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1B1726;
}
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    list-style: none none;
}

header{
    background-size: cover;
    background-position:center;
}
header h1{
    text-align: center;
    font-size: 50px;
    /* background-color: #000; */
    color: #ff5a2c;
    padding: 30px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #ff5a2c;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}


.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
    background-color: #1b1726;
    
}

.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #ff5a2c;
    background-color: #1b1726;

    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #ff5a2c;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #ff5a2c;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    background-color: #ff5a2c;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #ff5a2c;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.carrito-container {
    background-color: #1b1b1b; /* Fondo oscuro para todo el contenedor */
    padding: 20px;
    border-radius: 10px;
    color: white; /* Color de texto blanco */
}

.carrito-table {
    width: 100%;
    color: white; /* Color de texto blanco */
}

.carrito-table th,
.carrito-table td {
    text-align: center;
    padding: 10px;
}

.carrito-buttons {
    margin-top: 20px;
}

.carrito-buttons .btn {
    width: 100%;
    font-size: 18px;
}

.carrito-table thead th {
    background-color: #343a40; 
    color: white; 
}

.carrito-table tbody td {
    background-color: #2c2c2c; 
    color: white; 
}

.carrito-buttons .btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545;
}

.carrito-buttons .btn-success {
    background-color: #28a745; 
    border-color: #28a745;
}

.messages {
    margin: 20px 0;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px; /* Reduce el tamaño de la fuente */
    max-width: 300px; /* Ajusta el ancho máximo */
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.carrito-mensajes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

