{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href={% static "../static/css/registro.css"%}>
    
    
</head>
<body>

    <section class="form-register">
        <h4>Formulario Registro</h4>
        <form action= "" method="post">
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
            <input type="submit" value="Registrar">
        </form>
        <p><a href={% url "login" %}>¿Ya tengo cuenta?</a></p>
    </section>
    
    <script src={% static "../static/js/validaredit.js"%}></script>
</body>

</html>


